#banner {
    background-color: white;
    width: 100%;
    height: auto;
}

#products {
    text-align: center;
}

#products h2 {
    font-family: $primaryFont;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}