.form-wrapper {
    padding: 10px;
    background-color: black;
    text-align: center;
    // width: 100%;
    // margin: 0 atuo;
}

.form-wrapper h5 {
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    font-family: $primaryFont;
    border: solid white 2px;
    border-radius: 0px 10px 0px 10px;
}

.form {
    margin-top: 10px;
    font-size: .7em;
}

.form input {
    font-size: .7em;
}

.form i {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.form-container {
    margin-top: 10px;
}

.invert {
    padding: 2px;
    background-color: white;
    color: black;
    // border-radius: 0px 10px 0px 10px;
}

.btn-radio {
    width: 10px;
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


