.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    background-color: black;
    // text-align: center;
}

.col {
    width: 40%;
    margin: 25px;
}

.footer h5, h6, label, p {
    color: white;
    font-family: $primaryFont;
}

.footer h5, h6 {
    padding: 10px;
}

.footer p {
    font-size: .6em;
}

.form label {
    font-size: .7em;
    margin-right: 5px;
}

.form input {
   margin-bottom: 10px; 
}