// font-family: 'Staatliches', cursive;
// font-family: 'Roboto Condensed', sans-serif;

// fonts

$headerFont: 'Staatliches', cursive;
$primaryFont: 'Roboto Condensed', sans-serif;
$secondaryFont: 'Liu Jian Mao Cao', cursive;

// font sizing

$header: '3em';
$main: '2em';
$button: '2.5em';