/* Varibales */

:root {

    /* colors */

    --primary-color: black;
    --secondary-color: whitesmoke;
    --highlight-color: red;

    /* font stack */
    --primary-font: 'Signika', sans-serif;
    

    /* font sizes */
    --font-size-large: 2em;
    --font-size-normal: 1em;
}

/* Styles */

html {
    margin-left: 10%; 
    margin-right: 10%;
}

.main-content-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 70%;
}

.sidebar {
    width: 25%;
    height: 500px;
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: solid var(--primary-color) 1px;
    background-color: whitesmoke;
    padding: 10px;
    border: none;
}

.list-container {
    color: white;
    background: black;
    padding: 10px;
}

ul {
    list-style-type: square;
}

li {
    font-size: 2em;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.indigo {
    color: indigo;
}

.violet {
    color: violet;
}