.page-title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: black;
}

.page-title h2 {
    color: white;
    font-family: 'Staatliches', cursive;
    font-size: 3em;
}

.searchbar-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, white, lightgray, white);
}

.searchbar-container i, h3 {
    color: white;
}

.searchbar {
    background-color: white;
}

.search-btn {
    font-family: 'Roboto Condensed', sans-serif;
    background: white;
    border: none; 
}

.searchbar i {
    color: black;
    padding: 5px;
    transition: font-size, .5s;
}
.searchbar i:hover{
    font-size: 1.2em;
}

#search-input {
    width: 600px;
    font-size: 1em;
    text-align: center;
    border: none;
    box-shadow: none;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.product-price {
    font-family: 'Roboto Condensed', sans-serif;
}

.flex-product {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 20% 5% auto 10%;
    grid-column-gap: 10px;
    align-items: center;
    text-align: center;
}

.product-thumbnail {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.sku {
    color: black;
    font-weight: bold;
    border: solid black 2px;
    padding: 10px;
}

.product-description {
    color: black;
}